<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @operation_type.title %>
</p>

<%= link_to 'Edit', edit_operation_type_path(@operation_type) %> |
<%= link_to 'Back', operation_types_path %>
